{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{% trans 'title_delivery_step_basket' from 'BasketBundle' %}</h1>

<form action="{{ url('sonata_basket_delivery') }}" method="POST" >
    {{ form_hidden(form) }}

    <div>
        <h2>{% trans 'title_delivery_addresses' from 'BasketBundle' %}</h2>
        {{ form_errors(form.deliveryAddress) }}
        {{ form_field(form.deliveryAddress, {}, {}, 'SonataBasketBundle:Basket:render_delivery_address.html.twig') }}
    </div>

    <div>
        <h2>{% trans 'title_delivery_methods' from 'BasketBundle' %}</h2>

        {% if deliveryMethods|length == 0 %}
            <p>{% trans 'message_no_delivery_methods_available' from 'BasketBundle' %}</p>
        {% else %}
            {{ form_errors(form.deliveryMethod) }}
            {{ form_field(form.deliveryMethod, {}, {}, 'SonataBasketBundle:Basket:render_delivery_address.html.twig') }}
        {% endif %}
    </div>

    <input type="submit" value="{% trans 'btn_update_delivery_step' from 'BasketBundle' %}" />

</form>