{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{{ 'sonata.basket.title_basket'|trans({}, 'SonataBasketBundle') }}</h1>

<table>
    {#
    <thead>
        <tr>
            <td>{{ 'header_basket_information'|trans({}, 'SonataBasketBundle') }}</td>
            <td>{{ 'header_basket_price' from |trans({}, 'SonataBasketBundle') }}</td>
            <td>{{ 'header_basket_quantity'|trans({}, 'SonataBasketBundle') }}</td>
            <td>{{ 'header_basket_total'|trans({}, 'SonataBasketBundle') }}</td>
        </tr>
    </thead>
    #}
    <tbody>
        {# call each product controller to render its own view #}
        {% for basketElement in basket.BasketElements %}
            {% render controller('SonataProductBundle:Product:renderFinalReviewBasketElement', {
                'basketElement' : basketElement,
                'basket': basket
            }) %}
        {% endfor %}

        <tr>
            <td>{{ 'sonata.basket.label_delivery_charge'|trans({}, 'SonataBasketBundle') }}</td>
            <td>{{ basket.getDeliveryPrice(false)|number_format_currency(basket.currency, {}, {}, basket.locale) }}</td>
            <td></td>
            <td>{{ basket.getDeliveryPrice(true)|number_format_currency(basket.currency, {}, {}, basket.locale) }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">{{ 'sonata.basket.total_wo_vat'|trans({}, 'SonataBasketBundle') }}</td>
            <td><b>{{ basket.getTotal(false)|number_format_currency(basket.currency, {}, {}, basket.locale) }}</b></td>
        </tr>
        <tr>
            <td colspan="3">{{ 'sonata.basket.total_vat'|trans({}, 'SonataBasketBundle') }}</td>
            <td><b>{{ basket.getVatAmount()|number_format_currency(basket.currency, {}, {}, basket.locale) }}</b></td>
        </tr>
        <tr>
            <td colspan="3">{{ 'sonata.basket.total_w_vat'|trans({}, 'SonataBasketBundle') }}</td>
            <td><b>{{ basket.getTotal(true)|number_format_currency(basket.currency, {}, {}, basket.locale) }}</b></td>
        </tr>
    </tfoot>
</table>

<table>
    <tr>
        <td class="basket_validation_box">
            <h3>{{ 'sonata.basket.title_delivery_address'|trans({}, 'SonataBasketBundle') }}</h3>
            {% if basket.deliverymethod.isAddressRequired() %}
                {{ basket.deliveryaddress.getFullAddress("<br />")|raw }}
                <br />
            {% else %}
                {{ 'sonata.basket.title_delivery_address_not_required'|trans({}, 'SonataBasketBundle') }}
            {% endif %}
        </td>
        <td class="basket_validation_box">
            <h3>{{ 'sonata.basket.title_payment_address'|trans({}, 'SonataBasketBundle') }}</h3>
            {{  basket.paymentaddress.name }}

            {{  basket.paymentaddress.getFullAddress("<br />")|raw }}
        </td>
    </tr>
    <tr>
        <td class="basket_validation_box">
            <h3>{{ 'sonata.basket.title_delivery_method'|trans({}, 'SonataBasketBundle') }}</h3>
            {{ basket.deliverymethod.name }} :
            <em>{{ basket.deliverymethod.description }}</em>
        </td>
        <td class="validation_box">
            <h3>{{ 'sonata.basket.title_payment_method'|trans({}, 'SonataBasketBundle') }}</h3>
            {{ basket.paymentmethod.name }} :
            <em>{{ basket.paymentmethod.description }}</em>
        </td>
    </tr>
</table>

<div class="basket_tac">
    <h3>{{ 'sonata.basket.order_terms_and_conditions_title'|trans({}, 'SonataBasketBundle') }}</h3>
    <form action="{{ url('sonata_basket_final') }}" method="POST">

        <input type="checkbox" name="tac" id="basket_tac"/>
        <label for="basket_tac">
            {{ 'sonata.basket.label_terms_and_condition'|trans({}, 'SonataBasketBundle') }}
            <a href="/page/terms-and-conditions">{{ 'sonata.basket.link_terms_and_condition'|trans({}, 'SonataBasketBundle') }}</a>
        </label>
        <br />

        <input type="submit" value="{{ 'sonata.basket.label_process_to_payment'|trans({}, 'SonataBasketBundle') }}" />

        <div style="clear:both"></div>
    </form>
</div>
