{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% sonata_template_box 'This is the basket final review template. Feel free to override it.' %}

<h1>{{ 'sonata.basket.title_basket'|trans({}, 'SonataBasketBundle') }}</h1>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>{{ 'header_basket_information'|trans({}, 'SonataBasketBundle') }}</th>
            <th>{{ 'header_basket_price'|trans({}, 'SonataBasketBundle') }}</th>
            <th>{{ 'header_basket_quantity'|trans({}, 'SonataBasketBundle') }}</th>
            <th>{{ 'header_basket_total'|trans({}, 'SonataBasketBundle') }}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="2" rowspan="3"></td>
            <th style="text-align: right">{{ 'sonata.basket.total_wo_vat'|trans({}, 'SonataBasketBundle') }}</th>
            <td class="number"><b>{{ basket.getTotal(false)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
        </tr>
        <tr>
            <th style="text-align: right">{{ 'sonata.basket.total_vat'|trans({}, 'SonataBasketBundle') }}</th>
            <td class="number"><b>{{ basket.getVatAmount()|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
        </tr>
        <tr>
            <th style="text-align: right">{{ 'sonata.basket.total_w_vat'|trans({}, 'SonataBasketBundle') }}</th>
            <td class="number"><b>{{ basket.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
        </tr>
    </tfoot>

    <tbody>
        {# call each product controller to render its own view #}
        {% for basketElement in basket.BasketElements %}
            {% render controller('SonataProductBundle:Product:renderFinalReviewBasketElement', {
                'basketElement' : basketElement,
                'basket': basket
            }) %}
        {% endfor %}

        <tr>
            <td>{{ 'sonata.basket.label_delivery_charge'|trans({}, 'SonataBasketBundle') }}</td>
            <td class="number">{{ basket.getDeliveryPrice(false)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</td>
            <td></td>
            <td class="number">{{ basket.getDeliveryPrice(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <!-- Delivery information -->
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>{{ 'sonata.basket.title_delivery'|trans({}, 'SonataBasketBundle') }}</h3>
                </div>
            </div>
            <div class="panel-body">
                {% if basket.deliverymethod.isAddressRequired() %}
                    <address>
                        <strong>{{  basket.deliveryaddress.name }}</strong><br/>
                        {{ basket.deliveryaddress.getFullAddress("<br />")|raw }}
                    </address>
                {% else %}
                    <i>{{ 'sonata.basket.title_delivery_address_not_required'|trans({}, 'SonataBasketBundle') }}</i>
                {% endif %}
            </div>
            <div class="panel-footer">
                {{ basket.deliverymethod.name }}
            </div>
        </div>
    </div>

    <!-- Payment information -->
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>{{ 'sonata.basket.title_billing'|trans({}, 'SonataBasketBundle') }}</h3>
                </div>
            </div>
            <div class="panel-body">
                <address>
                    <strong>{{  basket.billingaddress.name }}</strong><br/>
                    {{  basket.billingaddress.getFullAddress("<br />")|raw }}
                </address>
            </div>
            <div class="panel-footer">
                {{ basket.paymentmethod.name }}
            </div>
        </div>
    </div>
</div>

<div class="basket_tac well pagination-centered text-center">
    <h3>{{ 'sonata.basket.order_terms_and_conditions_title'|trans({}, 'SonataBasketBundle') }}</h3>
    <form action="{{ url('sonata_basket_final') }}" method="POST" onsubmit="ctrlForm(this)">

        <label for="basket_tac">
            <input type="checkbox" name="tac" id="basket_tac"/>
            <strong>{{ 'sonata.basket.label_terms_and_condition'|trans({}, 'SonataBasketBundle') }}</strong> <br />
            <i><a href="{{ path('sonata_payment_terms') }}" target="_blank">{{ 'sonata.basket.link_terms_and_condition'|trans({}, 'SonataBasketBundle') }}</a></i>
        </label>

        <br />
        <br />
        <input type="submit" value="{{ 'sonata.basket.label_process_to_payment'|trans({}, 'SonataBasketBundle') }}" class="btn btn-lg btn-primary" />
    </form>
</div>

<script>
    function ctrlForm(form) {
        if (!form.tac.checked) {
            alert("{{ 'sonata.basket.label_confirm_tac'|trans({}, 'SonataBasketBundle') }}");

            return false;
        }

        return true;
    }
</script>