{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{% trans from 'SonataBasketBundle' %}sonata.basket.title_basket{% endtrans %}</h1>

{% if basket.hasBasketElements %}

    {{ form_errors(form) }}

    <form action="{{ url('sonata_basket_update') }}" method="POST" novalidate="novalidate">

        <table class="table table-bordered">

            <thead>
                <tr>
                    <td>{% trans from 'SonataBasketBundle'%}header_basket_information{% endtrans %}</td>
                    <td>{% trans from 'SonataBasketBundle'%}header_basket_price{% endtrans %}</td>
                    <td>{% trans from 'SonataBasketBundle'%}header_basket_quantity{% endtrans %}</td>
                    <td>{% trans from 'SonataBasketBundle'%}header_basket_total{% endtrans %}</td>
                    <td>{% trans from 'SonataBasketBundle'%}header_basket_delete{% endtrans %}</td>
                </tr>
            </thead>

            <tbody>
                {# call each product controller to render its own view #}
                {% for basketElement in basket.getBasketElements %}
                    {% render controller('SonataProductBundle:Product:renderFormBasketElement', {
                        'formView':       form.basketElements.children[basketElement.position],
                        'basketElement':  basketElement,
                        'basket':         basket
                    }) %}
                {% endfor %}

                {# mark the widget as rendered ... TODO: create a custom widget type ...#}
                {% set dummy = form.basketElements.setrendered %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td><b>{{ basket.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <input type="submit" value="{% trans from 'SonataBasketBundle' %}sonata.basket.btn_update_basket{% endtrans %}" class="btn btn-success" />

        <a href="{{ url('sonata_basket_authentification') }}" class="btn btn-primary">{% trans from 'SonataBasketBundle' %}sonata.basket.link_next_step{% endtrans %}&nbsp;<i class="icon-arrow-right icon-white"></i></a>

        {{ form_rest(form) }}
    </form>
{% else %}
    <p>{% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_is_empty{% endtrans %}</p>
{% endif %}
