{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{% trans 'title_basket' from 'BasketBundle' %}</h1>

{% if basket.hasBasketElements %}
    {{ form_errors(form) }}

    <form action="{{ url('sonata_basket_update') }}" method="POST" >
        {{ form_hidden(form) }}

        <table>
            {#
            <thead>
                <tr>
                    <td>{% trans 'header_basket_information' from 'BasketBundle'%}</td>
                    <td>{% trans 'header_basket_price' from 'BasketBundle'%}</td>
                    <td>{% trans 'header_basket_quantity' from 'BasketBundle'%}</td>
                    <td>{% trans 'header_basket_total' from 'BasketBundle'%}</td>
                    <td>{% trans 'header_basket_delete' from 'BasketBundle'%}</td>
                </tr>
            </thead>
            #}
            <tbody>
                {# call each product controller to render its own view #}
                {% for basketElement in basket.getBasketElements %}
                    {% render 'SonataProduct:Product:renderFormBasketElement' with {
                        'fieldGroup': form.basketElements.get(basketElement.pos),
                        'basketElement' : basketElement
                    } %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td><b>{{ basket.getTotal(true) }}</b></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <input type="submit" value="{% trans 'btn_update_basket' from 'BasketBundle' %}" />

        <a href="{{ url('sonata_basket_authentification') }}">{% trans 'link_next_step' from 'BasketBundle' %}</a>

    </form>

{% else %}

    <p>{% trans 'message_basket_is_empty' from 'BasketBundle' %}</p>

{% endif %}

{% if form.isValid %}

{% endif %}
