{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h1>{{ 'sonata.basket.title_payment_step_basket'|trans({}, 'BasketBundle') }}</h1>

<form action="{{ url('sonata_basket_payment') }}" method="POST" >
    <div>
        <h2>{{ 'sonata.basket.title_delivery_addresses'|trans({}, 'BasketBundle') }}</h2>

        {{ form_errors(form.paymentAddress) }}
        {{ form_widget(form.paymentAddress) }}
    </div>

    <div>
        <h2>{{ 'sonata.basket.title_delivery_methods'|trans({}, 'BasketBundle') }}</h2>

        {{ form_errors(form.paymentMethod) }}
        {{ form_widget(form.paymentMethod) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" value="{{ 'sonata.basket.btn_update_payment_step'|trans({}, 'BasketBundle') }}" />
</form>