{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% block header %}
    <h1>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.title_invoice{% endtrans %}</h1>
{% endblock %}

{% block content %}
    <!-- Invoice -->
    <div class="row">
        <!-- Billing address -->
        <div class="span7">
            <h5>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.subtitle_billing{% endtrans %}</h5>
            <table class="table table-bordered">
                <tr>
                    <td>{{ invoice.name }}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.billing.address1{% endtrans %}</th>
                    <td>{{ invoice.address1 }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.billing.address2{% endtrans %}</th>
                    <td>{{ invoice.address2 }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.billing.address3{% endtrans %}</th>
                    <td>{{ invoice.address3 }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.billing.postcode{% endtrans %}</th>
                    <td>{{ invoice.postcode }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.billing.city_country{% endtrans %}</th>
                    <td>{{ invoice.city ~ ' - ' ~ invoice.country }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.billing.phone{% endtrans %}</th>
                    <td>{{ invoice.phone }}</td>
                </tr>
            </table>
        </div>

        <!-- References -->
        <div class="span3">
            <h5>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.subtitle_references{% endtrans %}</h5>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.references.invoice{% endtrans %}</th>
                    <td>{{ invoice.reference }}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Invoice elements -->
    <div class="row">
        <div class="span10">
            <h5>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.subtitle_elements{% endtrans %}</h5>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.id{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.label{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.quantity{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.unit_price{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.vat{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.total_inc_vat{% endtrans %}</th>
                </tr>

                {% for element in invoice.invoiceElements %}
                    <tr>
                        <td>{{ element.id }}</td>
                        <td>{{ element.designation }}</td>
                        <td>{{ element.quantity }}</td>
                        <td>{{ element.price }}</td>
                        <td>{{ element.vat }}</td>
                        <td>{{ element.total }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="4">&nbsp;</td>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.total_exc_vat{% endtrans %}</th>
                    <td>{{ invoice.totalExcl }}</td>
                </tr>

                <tr>
                    <td colspan="4">&nbsp;</td>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.total_inc_vat{% endtrans %}</th>
                    <td>{{ invoice.totalInc }}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Payment -->
    <div class="row">
        <div class="span6">
            <h5>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.subtitle_payment{% endtrans %}</h5>

        </div>
    </div>

{% endblock %}

{% block footer %}
    <p>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.footer{% endtrans %}</p>
{% endblock %}
