{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% block header %}
    <h1>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.title_invoice{% endtrans %}</h1>
{% endblock %}

{% block content %}
    <!-- Invoice -->
    <div class="row">
        <!-- Billing address -->
        <div class="span7">
            <h5>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.subtitle_billing{% endtrans %}</h5>
            <table class="table table-bordered">
                <tr>
                    <td>{{ invoice.name }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="8">&nbsp;</td>
                    <td>{{ invoice.customer.firstName ~ " " ~ invoice.customer.lastName }}</td>
                </tr>
                <tr>
                    <td>{{ invoice.address1 }}</td>
                </tr>
                {% if invoice.address2 %}
                <tr>
                    <td>{{ invoice.address2 }}</td>
                </tr>
                {% endif %}
                {% if invoice.address3 %}
                <tr>
                    <td>{{ invoice.address3 }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>{{ invoice.postcode }}</td>
                </tr>
                <tr>
                    <td>{{ invoice.city }} ({{ invoice.country | country }})</td>
                </tr>
                <tr>
                    <td>{{ invoice.phone }}</td>
                </tr>
            </table>
        </div>

        <!-- References -->
        <div class="span3">
            <h5>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.subtitle_references{% endtrans %}</h5>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.references.invoice{% endtrans %}</th>
                    <td>{{ invoice.reference }}</td>
                </tr>
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.references.date{% endtrans %}</th>
                    <td>{{ invoice.createdAt|date() }}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Invoice elements -->
    <div class="row">
        <div class="span10">
            <h5>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.subtitle_elements{% endtrans %}</h5>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.id{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.label{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.quantity{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.unit_price{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.total_ex_vat{% endtrans %}</th>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.elements.total_inc_vat{% endtrans %}</th>
                </tr>

                {% for element in invoice.invoiceElements %}
                    <tr>
                        <td>{{ element.id }}</td>
                        <td>{{ element.designation }}</td>
                        <td>{{ element.quantity }}</td>
                        <td>{{ element.price|number_format_currency(invoice.currency) }}</td>
                        <td>{{ (element.total - element.vat*element.quantity)|number_format_currency(invoice.currency) }}</td>
                        <td>{{ element.total|number_format_currency(invoice.currency) }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="4">&nbsp;</td>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.total_exc_vat{% endtrans %}</th>
                    <td>{{ invoice.totalExcl|number_format_currency(invoice.currency) }}</td>
                </tr>

                <tr>
                    <td colspan="4">&nbsp;</td>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.vat{% endtrans %}</th>
                    <td>{{ (invoice.totalInc - invoice.totalExcl)|number_format_currency(invoice.currency) }}</td>
                </tr>

                <tr>
                    <td colspan="4">&nbsp;</td>
                    <th>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.total_inc_vat{% endtrans %}</th>
                    <td>{{ invoice.totalInc|number_format_currency(invoice.currency) }}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Payment -->
    <div class="row">
        <div class="span6">
            <h5>{% trans from 'SonataInvoiceBundle' %}subtitle_payment{% endtrans %}</h5>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans from 'SonataPaymentBundle' %}method{% endtrans %}</th>
                    <td>{{ invoice.paymentMethod }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
