{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% block header %}
    <h1>{% trans from 'SonataInvoiceBundle' %}sonata.invoice.title_invoice{% endtrans %}</h1>
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th>Reference</th>
            <td>{{ invoice.reference }}</td>
        </tr>
        <tr>
            <th>Currency</th>
            <td>{{ invoice.currency.label}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ invoice.status }}</td>
        </tr>
        <tr>
            <th>Total inc</th>
            <td>{{ invoice.totalInc }}</td>
        </tr>
        <tr>
            <th>Total exc</th>
            <td>{{ invoice.totalExcl}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ invoice.name }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ invoice.phone }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ invoice.address1 }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ invoice.city }}</td>
        </tr>
        <tr>
            <th>Postcode</th>
            <td>{{ invoice.postcode }}</td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <p>Invoice footer</p>
{% endblock %}
