{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{#
    Default product template file, you can
      => customize the global template : ProductBundle:Product:view.html.twig
      => rewrite your own template
#}

{% extends 'SonataProductBundle:Product:view.html.twig' %}

{% block product_title %}{{ product.name }}{% endblock %}

{% block product_description %}

    {{ product.description }}

{% endblock %}

{% block product_gallery %}Product gallery{% endblock %}

{% block product_basket %}

    <form action="{{ url('sonata_basket_add_product') }}" method="POST" >
        {{ form_hidden(form) }}

        {% trans 'label_quantity' from 'Productbundle' %} {{ form_field(form.quantity) }}

        <input type="submit" value="{% trans 'btn_add_to_basket' from 'ProductBundle' %}"/>
    </form>

{% endblock %}
