{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="sonata-payment-confirmation">
    {% if order.isvalidated %}
        <h1>{{ 'title_validation_confirmation_payment'|trans({}, 'SonataPaymentBundle') }}</h1>

        <p>
            {{ 'message_validation_payment'|trans({}, 'SonataPaymentBundle') }}
        </p>

    {% elseif order.ispending %}
        <h1>{{ 'title_pending_confirmation_payment'|trans({}, 'SonataPaymentBundle') }}</h1>

        <p>
            {{ 'message_pending_payment'|trans({}, 'SonataPaymentBundle') }}
        </p>
    {% else %}

        <h1>{{ 'title_not_validated_confirmation_payment'|trans({}, 'SonataPaymentBundle') }}</h1>

        <p>
            {{ 'message_not_validated_payment'|trans({}, 'SonataPaymentBundle') }}
        </p>

    {% endif %}

    <a href="{{ url('sonata_order_view', {'reference' : order.reference }) }}">{{ order.reference }}</a>
</div>