{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<tr>
    {% if formView.vars.errors|length > 0 %} {# global error the product is not active anymore #}
        <td colspan="4">{% block product_error %}{{ "sonata.basket.message_product_not_available"|trans({}, 'SonataProductBundle')}}{% endblock %}</td>
    {% else %}
        <td>
            {{ form_widget(formView.productId) }}
            {% block product_description %}
                <b><a href="{{ url('sonata_product_view', {'productId': basketElement.product.id, 'slug': basketElement.product.slug}) }}">{{ basketElement.name }}</a></b> <br />
                {{ basketElement.product.description|raw }}
            {% endblock %}
        </td>
        <td class="number">
            {% block product_unit_price %}
                {{ basketElement.getUnitPrice(false)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}
            {% endblock %}
        </td>
        <td>
            {% block product_quantity %}
                {{ form_errors(formView.quantity) }}
                {{ form_widget(formView.quantity, {'attr': {'class': 'input-mini', 'min': 1}}) }}
            {% endblock %}
        </td>
        <td class="number">
            {% block product_total_excl %}
                {{ basketElement.getTotal(false)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}
            {% endblock %}
        </td>
        <td class="number">
            {% block product_total_inc %}
                {{ basketElement.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}
            {% endblock %}
        </td>
    {% endif %}
    <td>
        {% block product_delete %}
            {{ form_widget(formView.delete) }}
        {% endblock %}
    </td>
</tr>
