{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#
    This template embeds micro-data tags for product semantic description, see http://schema.org/Product
#}

{% block sonata_page_container %}
    {% block product_javascript_init %}
        <script>
            jQuery(document).ready(function() {
                Sonata.Product.init({
                    url: {
                        infoStockPrice: '{{ path('sonata_product_price_stock', {'productId': product.id}) }}'
                    },
                    targets: {
                        inputAddBasket:  $('#add_basket_quantity'),
                        productPrice:    $('#sonata_product_price'),
                        submitBasketBtn: $('#sonata_add_basket_submit'),
                        addBasketError:  $('#sonata_add_basket_error')
                    }
                });
            });
        </script>
    {% endblock %}


    {% block product %}
        {% render controller("SonataProductBundle:Product:displayBreadcrumb", {'productId': product.id}) %}

        {% sonata_template_box 'This is the product view template. Feel free to override it.' %}

        {% block product_errors %}
            {%  if not sonata_product_has_variations(product) and product.getStock == 0 %}
                <div class="alert alert-error">
                    {% trans from 'SonataProductBundle' %}product_out_of_stock{% endtrans %}
                </div>
            {% endif %}
        {% endblock %}

        <!-- Begin product display -->
        <div class="row-fluid" itemscope itemtype="http://schema.org/Product">
            <div class="span6">
                {% block product_details %}
                    {% block product_image %}
                        <div class="row-fluid">
                            {% thumbnail product.image, 'preview' with {'itemprop':'image', 'class': 'img-rounded', 'style': 'float:left; margin: 0 10px 10px 0;'} %}
                        </div>
                    {% endblock%}

                    {% block product_gallery %}
                        <div class="row-fluid">
                            {% sonata_template_box "Block 'product_gallery' to override"  %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>

            <div class="span6">
                <h2 itemprop="name">{% block product_title %}{{ product.name }}{% endblock %}</h2>
                <div itemprop="description">
                    <p>{{ 'form.label_sku'|trans({}, 'SonataProductBundle')|upper }} : {{ product.sku }}</p>
                    {% block product_description %}{{ product.rawDescription|raw }}{% endblock %}
                </div>

                {% block product_delivery %}
                    <div class="row">
                        {% sonata_template_box "Block 'product_delivery' to override" %}
                    </div>
                {% endblock %}

                {% block product_variations_form %}
                    <div class="row"></div>
                {% endblock %}

                {% block product_basket %}
                    {% include "SonataBasketBundle:Basket:add_product_form.html.twig" %}
                {% endblock %}
            </div>
        </div>
        <!-- End product display -->
    {% endblock %}


    {% block product_cross %}
        <!-- Cross selling -->
        <div class="row-fluid">
            {% block product_cross_selling %}
                {% include "SonataProductBundle:Product:view_similar.html.twig" with{'similar_cross': similar_cross} %}
            {% endblock %}
        </div>
        <!-- End Cross selling -->
    {% endblock %}
{% endblock %}