{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#
    This template embeds micro-data tags for product semantic description, see http://schema.org/Product
#}

<div class="row" itemscope itemtype="http://schema.org/Product">
    <h2 itemprop="name">{% block product_title %}{{ product.name }}{% endblock %}</h2>

    <div class="span6">
        <div class="row">
            <div style="float: left">
                {% block product_image %}{% thumbnail product.image, 'preview' with {'itemprop':'image'} %}{% endblock%}
            </div>
            <span itemprop="description">
                {% block product_description %}{{ product.rawDescription|raw }}{% endblock %}
            </span>
        </div>

        <div>
            {% block product_gallery %}Block 'product_gallery' to override{% endblock %}
        </div>
    </div>

    <div class="span4">
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% block product_price %}
                {% block product_price_label %}
                    {% if product.hasVariations %}
                        {% trans from 'SonataProductBundle' %}sonata_product_variation_min_price{% endtrans %}
                    {% else %}
                        {% trans from 'SonataProductBundle' %}sonata_product_price{% endtrans %}
                    {% endif %}
                {% endblock %}
                <span itemprop="price">
                    {% block product_price_price %}
                        {% if product.hasVariations %}
                            {{ product.cheaperVariation.price|number_format_currency(currency) }}
                        {% else %}
                            {{ product.price|number_format_currency(currency) }}
                        {% endif %}
                    {% endblock %}
                </span>
            {% endblock %}

            {% if product.hasVariations %}
                {% block variations_label %}<h3>{% trans from 'SonataProductBundle' %}sonata_product_variations{% endtrans %}</h3>{% endblock %}

                <ul>
                    {% for variation in product.variations %}
                        <li><a href="{{ url('sonata_product_view', {'productId': variation.id, 'slug': variation.slug}) }}">{{ variation.name }}</a> {{ variation.price|number_format_currency(currency) }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% block product_delivery %}Block 'product_delivery' to override{% endblock %}
        </div>
        <div>
            {% if product.isSalable %}
                {% block product_basket %}
                    <form class="form-inline" action="{{ url('sonata_basket_add_product') }}" method="POST" >
                        {% trans from 'SonataProductBundle' %}sonata.product.label_quantity{% endtrans %}
                        {{ form_widget(form.quantity, {'attr': {'class':'input-small'}}) }}

                        <button type="submit" class="btn btn-small btn-primary" >
                            <i class="icon-shopping-cart icon-white"></i>{% trans from 'SonataProductBundle' %}sonata.product.btn_add_to_basket{% endtrans %}
                        </button>

                        {{ form_rest(form) }}
                    </form>
                {% endblock %}
            {% endif %}
        </div>
    </div>
</div>

<!-- Cross selling -->
<div class="row">
    {% block product_cross_selling %}
        {% if similar_cross|length > 0 %}
            <h2>{% trans from "SonataProductBundle" %}sonata.product.cross_selling.title{% endtrans %}</h2>
            <ul>
            {% block similar_product %}
                {% for similar_product in similar_cross %}
                    {% if similar_product.isMaster and similar_product.isEnabled %}
                        <li><a href="{{ path('sonata_product_view', {'productId': similar_product.id, 'slug': similar_product.slug }) }}">{{ similar_product.name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endblock %}
            </ul>
        {% else %}
            {% trans from "SonataProductBundle" %}sonata.product.cross_selling.no_match{% endtrans %}
        {% endif %}
    {% endblock %}
</div>
<!-- End Cross selling -->
