{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% spaceless %}

    {% set link     = url('sonata_product_view', {'productId': product.id, 'slug': product.slug}) %}
    {% set provider = product|sonata_product_provider %}

    <li class="span4" itemscope itemtype="http://schema.org/Product">

        <div class="thumbnail">

            <div class="product-thumbnail">
                {% if product.image %}
                    <a href="{{ link }}">{% thumbnail product.image, 'preview' with {'itemprop': 'image'} %}</a>
                {% else %}
                    {# default product picture goes here #}
                {% endif %}
            </div>

            <h5 itemprop="name"><a href="{{ link }}">{{ product.name|truncate(18, false, '…') }}</a></h5>

            <p>
                <span itemprop="price">
                    {% if not provider.hasVariations(product) %}
                        {{ product.price|number_format_currency(currency) }}
                    {% else %}
                        {% trans from 'SonataProductBundle' %}product_variation_min_price{% endtrans %}
                        {{ provider.cheapestEnabledVariation(product).price|number_format_currency(currency) }}
                    {% endif %}
                </span>
            </p>

        </div>

    </li>

{% endspaceless %}
